.container {
    display: flex;
}

.container img {
    margin-right: 5px; 
}
body{
    background-color: thistle;
}
.center-align {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 10vh; 
  }