.container {
    display: flex;
}

.container img {
    margin-right: 5px; 
}
body{
    background-color: thistle;
}
.center-align {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 10vh; 
  }

  .center {
    text-align: center;
  }
  .pink-btn {
    background-color: pink;
    color: red;
    padding: 10px 20px;
    text-decoration: none;
    border: none;
    border-radius: 5px;
    height: 10vh; 
  }